
[Desktop Entry]
Type=Application
Name=PMS
Comment=Private Microblogging Service
Exec=/usr/bin/pms
Terminal=false
Categories=Network;
StartupNotify=false
Icon=/usr/share/pms/images/logo1.png
